.image-preview {
    box-shadow: 0 1px 3px rgb(0 0 0 / 8%), 0 4px 8px rgb(0 0 0 / 4%);
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 10px;
    display: block;
    max-width: 230px;
    max-height: 155px;
    width: auto;
    height: auto;
  }